html {
  --backgroundLight: #f5f5f5;
  --panelsBackgroundLight: #ffffff;
  --fontColorLight: #888888;
  --fontColorLight2: #333333;
  --blueColor: #0a74ec;
}

html[data-theme="dark"] {
  --backgroundLight: #121212;
  --panelsBackgroundLight: #242526;
  --fontColorLight: #f5f5f5;
  --fontColorLight2: #f5f5f5;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 500ms !important;
  transition: all 500ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

body {
  background-color: var(--backgroundLight);
}

.icono {
  color: var(--fontColorLight2);
}

.icono::before {
  color: var(--fontColorLight2);
}

.navbar-expand-lg {
  background-color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 6px 6px -10px var(--fontColorLight2);
          box-shadow: 0 6px 6px -10px var(--fontColorLight2);
}

.navbar-expand-lg a#navbarToggle i.flaticon-menu-1.icono::before {
  font-size: 30px;
}

.imagen {
  width: 70%;
}

/* .icono {
  font-size: 30px;
} */
.profilePhoto {
  width: 55px;
  height: auto;
}

div#hiddenNavbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#hiddenNavbar ul.navbar-nav {
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#hiddenNavbar ul.navbar-nav a.nav-link {
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--fontColorLight2);
}

div#hiddenNavbar #headerPhoto a {
  text-decoration: none;
}

div#hiddenNavbar #headerPhoto a img {
  width: 50px;
  height: 50px;
}

div#hiddenNavbar #headerPhoto div i {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  background: var(--backgroundLight);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

div#hiddenNavbar #headerPhoto div i::before {
  font-size: 20px;
  cursor: pointer;
  color: var(--fontColorLight2);
}

div#hiddenNavbar #headerPhoto div i::after {
  display: none;
}

div#hiddenNavbar #headerPhoto div i:hover {
  background-color: #d8d7d7;
}

div#hiddenNavbar #headerPhoto div #optionsMenu {
  width: 300px;
  margin-top: 15px;
  padding: 15px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
  background: var(--backgroundLight);
}

div#hiddenNavbar #headerPhoto div #optionsMenu #viewProfile {
  color: var(--fontColorLight2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

div#hiddenNavbar #headerPhoto div #optionsMenu #viewProfile h6 {
  margin: 0;
}

div#hiddenNavbar #headerPhoto div #optionsMenu #containerDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

div#hiddenNavbar #headerPhoto div #optionsMenu #containerDropdown i {
  margin-right: 10px;
}

div#hiddenNavbar #headerPhoto div #optionsMenu #containerDropdown i::before {
  margin: 0;
  font-size: 18px;
  color: var(--fontColorLight2);
}

div#hiddenNavbar #headerPhoto div #optionsMenu #containerDropdown h6 {
  margin: 0;
  color: var(--fontColorLight2);
}

div#hiddenNavbar #headerPhoto div #optionsMenu #containerDropdown label {
  margin: 0;
}

div#hiddenNavbar #headerPhoto div #optionsMenu label#checkDarkThemeContainer {
  width: 100%;
}

div#hiddenNavbar #headerPhoto div #optionsMenu label#checkDarkThemeContainer #containerDropdown {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#hiddenNavbar #headerPhoto div #optionsMenu label#checkDarkThemeContainer #containerDropdown h6 {
  margin-right: 40px !important;
}

div#hiddenNavbar #headerPhoto div #optionsMenu .dropdown-item {
  background-color: var(--panelsBackgroundLight);
}

div#hiddenNavbar #headerPhoto div #optionsMenu .dropdown-item:active {
  background-color: var(--backgroundLight);
  color: var(--fontColorLight2);
}

div#searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1.2px solid var(--fontColorLight);
  padding-bottom: 1px;
  /*  margin: 15px 0; */
}

div#searcher i::before {
  margin: 0;
}

div#searcher input#searchUser {
  border: none;
  outline: 0;
  font-size: 17px;
  color: var(--fontColorLight2);
  background: transparent;
  width: 100%;
}

div#searcher input#searchUser::-webkit-input-placeholder {
  color: var(--fontColorLight2);
}

div#searcher input#searchUser:-ms-input-placeholder {
  color: var(--fontColorLight2);
}

div#searcher input#searchUser::-ms-input-placeholder {
  color: var(--fontColorLight2);
}

div#searcher input#searchUser::placeholder {
  color: var(--fontColorLight2);
}

main#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

@media (max-width: 768px) {
  main#mainContainer {
    margin: 0;
    margin-top: 20px;
  }
}

main#mainContainer #containerWrite {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 30px;
  height: 190px;
}

@media (max-width: 1200px) {
  main#mainContainer #containerWrite {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 768px) {
  main#mainContainer #containerWrite {
    margin: 0 15px;
  }
}

main#mainContainer #containerWrite #top {
  width: 100%;
  background: var(--panelsBackgroundLight);
  height: 55%;
  border-radius: 2px;
}

main#mainContainer #containerWrite #top textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: 0;
  padding: 15px 35px 15px 35px;
  resize: none;
  background: transparent;
  color: var(--fontColorLight2);
}

main#mainContainer #containerWrite #bottom {
  width: 100%;
  background: var(--panelsBackgroundLight);
  height: 45%;
  border-radius: 2px;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#mainContainer #containerWrite #bottom div#containerIconsWrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  main#mainContainer #containerWrite #bottom div#containerIconsWrite {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main#mainContainer #containerWrite #bottom div#containerIconsWrite .iconsWrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /*  &:hover h6 {
            color: var(--fontColorLight2);
          } */
}

main#mainContainer #containerWrite #bottom div#containerIconsWrite .iconsWrite i::before {
  font-size: 26px;
}

main#mainContainer #containerWrite #bottom div#containerIconsWrite .iconsWrite h6 {
  margin: 0;
  color: var(--fontColorLight);
}

@media (max-width: 768px) {
  main#mainContainer #containerWrite #bottom div#containerIconsWrite .iconsWrite h6 {
    display: none;
  }
}

main#mainContainer #containerWrite #bottom div#containerIconsWrite label {
  margin: 0;
}

main#mainContainer #containerWrite #bottom div#publishPostContainer button#addPostButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  outline: 0;
  margin-right: 30px;
}

main#mainContainer #containerWrite #bottom div#publishPostContainer button#addPostButton i.flaticon-right-arrow::before {
  font-size: 28px;
  color: var(--blueColor);
}

main#mainContainer #leftContainer,
main#mainContainer #rightContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 450px;
  background-color: var(--panelsBackgroundLight);
  color: var(--fontColorLight2);
  padding: 20px;
}

div#postContainer {
  background-color: var(--panelsBackgroundLight);
  border-radius: 3px;
  /*  padding: 30px 30px 0px 30px; */
  padding: 0;
}

div#postContainer div#infoUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

div#postContainer div#infoUser a#linkProfilePerson {
  color: var(--fontColorLight2);
  margin: 0;
}

div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost h5 {
  margin: 0 15px !important;
}

div#postContainer div#infoUser div#containerDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--fontColorLight2);
}

div#postContainer div#infoUser div#containerDate a#popoverOptions {
  outline: 0;
  cursor: pointer;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div#postContainer div#infoUser div#containerDate a#popoverOptions:hover {
  background-color: var(--backgroundLight);
}

div#postContainer #parrafoTexto {
  padding: 0 20px;
}

div#postContainer #parrafoTexto p {
  color: var(--fontColorLight2);
}

div#postContainer #postImageContainer {
  cursor: pointer;
}

div#postContainer div#shareIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#postContainer div#shareIcons i {
  color: var(--fontColorLight2);
  cursor: pointer;
  font-size: 18px;
}

div#postContainer div#shareIcons i.flaticon-share.m-3.icono::before {
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  font-family: "Kanit", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: linear-gradient(130deg, #ffa34f, #ff6f68);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: "Kanit", sans-serif;
  color: #ff6f68;
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed #ff6f68;
  border-radius: 2px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #ff6f68;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-social > a:hover {
  color: #fff;
  background-color: #ff6f68;
  border-color: #ff6f68;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }
  .notfound .notfound-404 h1 {
    font-size: 142px;
  }
  .notfound h2 {
    font-size: 22px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--blueColor);
          box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* LOGIN PAGE STYLES */
div#mainLoginPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

div#mainLoginPage #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
}

div#mainLoginPage #left #titlePart {
  margin-bottom: 10px;
  color: var(--fontColorLight2);
}

div#mainLoginPage #left #titlePart h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

div#mainLoginPage #left #titlePart button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: none;
  background: var(--panelsBackgroundLight);
  color: var(--fontColorLight2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#mainLoginPage #left #titlePart button img {
  width: 20px;
  margin-right: 10px;
}

div#mainLoginPage #left #titlePart button p {
  margin: 0;
}

div#mainLoginPage #left #titlePart p {
  font-size: 15px;
  margin-bottom: 15px;
}

div#mainLoginPage #left #titlePart div#separatorLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

div#mainLoginPage #left #titlePart div#separatorLine hr {
  width: 40%;
}

div#mainLoginPage #left #loginForm .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

div#mainLoginPage #left #loginForm .form-group label {
  font-size: 14px;
}

div#mainLoginPage #left #loginForm .form-group input,
div#mainLoginPage #left #loginForm .form-group button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 15px;
  border-bottom: 2px solid #ccc;
}

div#mainLoginPage #left #loginForm .form-group button {
  color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #3751e4;
  border: none !important;
  border-radius: 5px;
}

div#mainLoginPage #left #loginForm .form-group input[type="text"]:focus,
div#mainLoginPage #left #loginForm .form-group input[type="password"]:focus {
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

div#mainLoginPage #left #loginForm .form-group i#passwordEye {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  color: var(--fontColorLight2);
}

div#mainLoginPage #left #loginForm .forgot {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#mainLoginPage #left #loginForm #submitButtonContainer p {
  text-align: center;
  margin-top: 15px;
}

div#mainLoginPage #left #loginForm #submitButtonContainer p a {
  margin-left: 5px;
}

div#mainLoginPage #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #396afc;
  background: -webkit-gradient(linear, right top, left top, from(#2948ff), to(#396afc));
  background: linear-gradient(to left, #2948ff, #396afc);
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

div#mainLoginPage #right #imageContainer {
  width: 50%;
}

div#mainLoginPage #right #imageContainer img {
  width: 100%;
}

.invalid {
  border-color: #e60000 !important;
  border-bottom-color: #e60000 !important;
}

.invalid-feedback {
  color: #e60000 !important;
}

.alert.alert-danger {
  width: 340px;
  text-align: center;
}

label[id$="-error"] {
  color: #e60000;
  font-size: 80% !important;
}

.valid {
  border-color: #5cb85c !important;
  border-bottom-color: #5cb85c !important;
}

.alert.alert-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alert.alert-danger i {
  cursor: pointer;
}

/* END LOGIN PAGE STYLES */
/* REGISTER PAGE STYLES */
#mainRegisterPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#mainRegisterPage #left {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  background: var(--blueColor);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

#mainRegisterPage #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainRegisterPage #right #registerForm .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#mainRegisterPage #right #registerForm .form-group label {
  font-size: 14px;
}

#mainRegisterPage #right #registerForm .form-group input,
#mainRegisterPage #right #registerForm .form-group button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 15px;
  border-bottom: 2px solid #ccc;
}

#mainRegisterPage #right #registerForm .form-group button {
  color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #3751e4;
  border: none !important;
  border-radius: 5px;
}

#mainRegisterPage #right #registerForm .form-group input[type="text"]:focus,
#mainRegisterPage #right #registerForm .form-group input[type="email"]:focus,
#mainRegisterPage #right #registerForm .form-group input[type="password"]:focus {
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

#mainRegisterPage #right #registerForm .form-group .custom-select {
  height: 50px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  width: 340px;
}

#mainRegisterPage #right #registerForm .form-group .custom-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

#mainRegisterPage #right #registerForm #loginPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END LOGIN PAGE STYLES */
/*# sourceMappingURL=styles.css.map */