@import url("https://fonts.googleapis.com/css?family=Lato|Muli&display=swap");

html {
  //Light colors
  --backgroundLight: #f5f5f5;
  --panelsBackgroundLight: #ffffff;
  --fontColorLight: #888888;
  --fontColorLight2: #333333;
  --blueColor: #0a74ec;

  //Barra lateral derecha
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #464d61;
    background-clip: padding-box;
    border: 2px solid #242d4200;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    background-color: #242d4200;
  }
}

html[data-theme="dark"] {
  //Dark colors
  --backgroundLight: #18191a;
  --panelsBackgroundLight: #242526;
  --fontColorLight: #f5f5f5;
  --fontColorLight2: #f5f5f5;
}

//Para la transición al cambiar al tema oscuro
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0 !important;
}

body {
  background-color: var(--backgroundLight);
}

/* ESTILOS DEL HEADER NAVIGATION */

nav#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: var(--panelsBackgroundLight);
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  z-index: 999;
  /* box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px; */
  @media (max-width: 768px) {
    bottom: 0 !important;
    top: 91%;
  }
  #logoContainer,
  #searchBarContainer,
  #mainMenu {
    flex-grow: 1;
  }

  #logoContainer,
  #searchBarContainer {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  //Page logo
  div#logoContainer {
    background: transparent;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: var(--fontColorLight2);
      display: block;
      width: 30%;
      margin-left: 10%;
      text-align: center;
      h4 {
        font-size: 28px;
      }
    }
  }

  //Search bar
  div#searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    #searchBar {
      background: transparent;
      width: 85%;
      height: 70%;
      display: flex;
      transition: all 0.2s;
      align-items: center;
      border-radius: 30px;
      background: var(--backgroundLight);
      z-index: 1;
      #searchIcon {
        width: 10%;
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        color: var(--fontColorLight);
        padding: 20px;
      }
      #searchUser {
        width: 88%;
        height: 100%;
        font-size: 16px;
        border: none;
        outline: 0;
        background: transparent;
        color: var(--fontColorLight);
        &::placeholder {
          color: var(--fontColorLight);
        }
      }
    }
    #searchBarContainerList {
      position: absolute;
      top: 0;
      width: 90%;
      min-height: 60px;
      max-height: 430px;
      overflow: auto;
      border-radius: 3px;
      background: var(--panelsBackgroundLight);
      z-index: 0;
      margin-top: 2px;
      padding-top: 60px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
      display: none; //By default
      #emptyContainer {
        border-radius: 3px;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
        i {
          padding: 10px;
          color: var(--fontColorLight);
          font-size: 14px;
        }
        p {
          margin: 0;
          color: var(--fontColorLight2);
        }
        &:hover {
          background: var(--backgroundLight);
        }
      }
    }
    #searchBarContainerList.show {
      display: block !important;
    }
    #usersContainer {
      a.dropdown-item {
        display: flex;
        align-items: center;
        padding: 15px;
        #dropImage {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
        }
        #dropName {
          color: var(--fontColorLight2);
          margin-left: 10px;
          img {
            width: 15px;
            margin-left: 5px;
          }
          h6,
          p {
            margin: 0;
            padding: 0;
          }
          h6 {
            display: flex;
            align-items: center;
          }
        }
        &:hover {
          background-color: var(--backgroundLight);
        }
      }
    }
  }

  //Main menu with options
  div#mainMenu {
    background: transparent;
    ul#horizontalMenu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      @media (max-width: 768px) {
        justify-content: space-around;
      }
      li {
        list-style: none;
        color: var(--fontColorLight2);
        a {
          text-decoration: none;
          color: var(--fontColorLight2);
          padding: 23px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          transition: all 0.2s;
          i {
            font-size: 16px;
          }
          &:hover {
            background: var(--backgroundLight);
          }
        }
        a#notificationLink {
          position: relative;
          &::after {
            display: none;
          }
          span {
            font-size: 8px;
            position: absolute;
            left: 24px;
            bottom: 24px;
          }
        }
        ul#listaNotificaciones {
          margin: 0;
          padding: 0;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
          color: var(--fontColorLight2);
          background: var(--panelsBackgroundLight);
          border-radius: 3px;
          top: 10px !important;
          left: -55px !important;
          li {
            padding: 10px;
            background: transparent;
            &:hover {
              background: var(--backgroundLight);
            }
            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              padding: 0;
              margin: 0;
              border-radius: 0;
              font-size: 14px;
              &:hover {
                background: transparent;
              }
              img {
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
                margin-right: 5px;
              }
              strong {
                margin-right: 5px;
                font-size: 15px;
              }
              small {
                font-size: 13px !important;
              }
            }
          }
        }
        a#profile {
          img {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
          &::after {
            display: none;
          }
        }
      }
      li#home {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
      li#profileSection {
        div.dropdown-menu.show {
          width: 230px;
          height: 250px;
          left: -70px !important;
          top: 20px !important;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          background: var(--panelsBackgroundLight);
          box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
          .dropdown-item {
            align-items: center;
            width: 100%;
            flex: 1;
            border-radius: 0;
            padding: 0;
            justify-content: flex-start !important;
            color: var(--fontColorLight2);
            i {
              padding: 15px;
            }
            h6 {
              margin: 0;
            }
            &:hover {
              background: var(--backgroundLight);
            }
          }
          a#dropdownProfile {
            padding: 0;
            div.dropdownProfile_interior {
              display: flex;
              width: 100%;
              height: 100%;
              padding: 10px;
              justify-content: space-around;
              border-bottom: 1px solid var(--backgroundLight);
              color: var(--fontColorLight2);
              img {
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
              }
              small {
                font-size: 12px;
              }
            }
          }
          label#checkDarkThemeContainer {
            margin: 0;
            display: flex;
            cursor: pointer;
            .switch {
              margin: 0 0 0 20px;
            }
          }
        }
      }
      /*  li#profileSection, */
      li#friends {
        @media (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}

/* FIN ESTILOS DEL HEADER NAVIGATION */

//Clase para el icono de la página sobre el que estás
.activeLink {
  color: var(--blueColor) !important;
}

//MAIN PART
main#mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  @media (max-width: 768px) {
    margin: 0px;
  }
  #containerWrite {
    flex: 2;
    width: 50% !important;
    margin: 0 10px;
    height: 190px;
    @media (max-width: 1200px) {
      margin: 0;
    }
    form#formularioPost {
      margin-top: 60px;
      @media (max-width: 768px) {
        margin-top: 0;
      }
      #top {
        width: 50%;
        margin: auto;
        background: var(--panelsBackgroundLight);
        height: 55%;
        border-radius: 6px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        align-items: flex-start;
        @media (max-width: 768px) {
          width: 100%;
        }
        img {
          margin: 15px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
          background-color: #ffffff;
        }
        textarea {
          width: 90%;
          height: 100%;
          overflow: hidden;
          border: none;
          outline: 0;
          margin: 20px 0;
          resize: none;
          background: transparent;
          color: var(--fontColorLight2);
        }
      }
      #bottom {
        width: 50%;
        margin: auto;
        background: var(--panelsBackgroundLight);
        padding: 10px 0;
        border-radius: 12px;
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        @media (max-width: 768px) {
          width: 100%;
        }
        div#containerIconsWrite {
          display: flex;
          flex-basis: 60%;
          align-items: center;
          margin-left: 10px;
          .iconsWrite {
            display: flex;
            align-items: center;
            padding: 10px 16px;
            border-radius: 6px;
            &:hover {
              background-color: var(--backgroundLight);
            }
            cursor: pointer;
            i {
              &::before {
                font-size: 20px;
                color: var(--fontColorLight);
              }
            }
            h6 {
              font-size: 15px;
              margin: 0;
              color: var(--fontColorLight);
              @media (max-width: 768px) {
                display: none;
              }
            }
            /*  &:hover h6 {
              color: var(--fontColorLight2);
            } */
          }
          label {
            margin: 0;
          }
        }
        div#publishPostContainer {
          button#addPostButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 40px;
            border-radius: 20px;
            border: none;
            background: transparent;
            outline: 0;
            margin-right: 20px;
            background-color: #0a52a3;
            color: #ffffff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            i.flaticon-right-arrow {
              &::before {
                font-size: 28px;
                color: var(--blueColor);
              }
            }
          }
        }
      }
    }
  }
  aside#leftContainer,
  aside#rightContainer {
    width: 25%;
    height: 89vh;
    position: fixed;
    top: 70px;
    background-color: var(--panelsBackgroundLight);
    color: var(--fontColorLight2);
    padding: 20px;
    border-radius: 6px;
    /*  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    text-align: center;
  }

  aside#leftContainer {
    left: 0;
  }
  aside#rightContainer {
    right: 0;
  }
}
.panel.panel-default {
  margin: auto;
  width: 50%;
  @media (max-width: 768px) {
    margin-bottom: 70px;
    width: 98%;
  }
}
//Container con todos los posts para mostrar
#panelPrivateUsers {
  width: 100%;
  h3 {
    color: var(--fontColorLight2);
    margin: 10px;
  }
}
div#postList,
div#postListPerfil,
div#postListPrivateUser {
  div#postContainer {
    font-size: 2vh;
    background-color: var(--panelsBackgroundLight);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    margin: 0 0 10px 0 !important;
    padding: 0;
    div#infoUser {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 20px;
      #userData {
        display: flex;
        align-items: center;
      }
      a#linkProfilePerson {
        color: var(--fontColorLight2);
        margin: 0;
        div#userInfoPost {
          display: flex;
          align-items: center;
          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            background-color: #ffffff;
          }
          h5 {
            margin: 0 5px 0 15px;
            font-size: 17px;
            img {
              width: 14px;
              height: 14px;
              margin-left: 3px;
            }
          }
        }
      }
      div#containerDate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: var(--fontColorLight2) !important;
        span#popoverOptions {
          color: var(--fontColorLight2) !important;
          outline: 0;
          cursor: pointer;
          margin-bottom: 10px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          border-radius: 50%;
          transition: all 0.2s ease;
          &:hover {
            background-color: var(--backgroundLight);
            text-decoration: none !important;
          }
        }
      }
    }
    #parrafoTexto {
      padding: 0 25px;
      margin: 15px 0;
      color: var(--fontColorLight2);
    }
    #postImageContainer {
      padding: 0 20px;
      cursor: pointer;
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: top;
        border-radius: 4px;
      }
    }
    div#shareIcons {
      display: flex;
      margin: 0 20px;
      align-items: center;
      justify-content: flex-start;

      #shareIconsContainer {
        display: flex;
        div#likeIcon,
        div#commentIcon,
        div#shareIcon {
          margin: 10px 0;
          button,
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: transparent;
            outline: 0;
            border-radius: 6px;
            width: 80px;
            color: var(--fontColorLight2);
            padding: 10px 0;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              background-color: var(--backgroundLight);
            }
            i {
              margin-right: 5px;
            }
            #iconLikeRed {
              &::before {
                color: #f95572;
                /* #E0245E */
              }
            }
            span {
              font-weight: 600;
            }
          }
          #commentButton:hover {
            span {
              color: rgb(29, 161, 242);
            }
            i {
              &::before {
                color: rgb(29, 161, 242);
              }
            }
          }
          #shareButton:hover {
            span {
              color: rgb(23, 191, 99);
            }
            i {
              &::before {
                color: rgb(23, 191, 99);
              }
            }
          }
        }
      }
      #likesCount {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          i {
            margin-right: 5px;
          }
          h6 {
            margin: 0;
            color: var(--fontColorLight2);
            display: flex;
          }
        }
      }
    }
    #commentBox {
      background: transparent;
      padding: 20px;
      border-top: 1px solid #ccc;
      display: none;
      .top {
        display: flex;
        align-items: center;
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 50%;
          margin-right: 10px;
        }
        #commentaryField {
          background: var(--backgroundLight);
          width: 80%;
          height: 35px;
          border-radius: 22px;
          align-items: center;
          display: flex;
          align-items: center;
          justify-content: space-around;
          input {
            background: transparent;
            border: none;
            height: 100%;
            width: 100%;
            padding: 5px 15px;
            font-size: 15px;
            outline: 0;
            color: var(--fontColorLight2);
            &::placeholder {
              color: var(--fontColorLight2);
            }
          }
          div#commentIcons {
            display: flex;
            align-items: center;
            i {
              margin-right: 5px;
              color: var(--fontColorLight2);
              cursor: pointer;
            }
            button {
              background: no-repeat;
              border: none;
              outline: 0;
            }
          }
        }
      }
      #commentPost {
        display: flex;
        margin-top: 15px;
        .top {
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
            object-position: top;
            background-color: #ffffff;
          }
        }
        .bottom {
          padding: 15px;
          border-radius: 15px;
          background-color: var(--backgroundLight);
          color: var(--fontColorLight2);
          b {
            margin: 10px 0;
          }
          p {
            margin: 0;
          }
        }
      }
    }
    .commentBox.show {
      display: block !important;
    }
  }
  #noPostText {
    color: var(--fontColorLight2);
    margin: 30px auto;
    max-width: 70%;
    h5 {
      margin-bottom: 20px;
      font-weight: 400;
      font-style: italic;
      font-size: 16px;
    }
    a {
      color: var(--panelsBackgroundLight);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      background: #3751e4;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      text-decoration: none;
      margin-top: 20px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
div#postList {
  @media (max-width: 768px) {
    bottom: 15px;
  }
}
div#postListPrivateUser {
  @media (max-width: 768px) {
    top: 180px;
    position: relative;
  }
}

//MAIN PART END

//404 Styles
#notfound {
  position: relative;
  height: 100vh;

  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;

  .notfound-404 {
    position: relative;
    height: 220px;

    h1 {
      font-family: "Kanit", sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 186px;
      font-weight: 200;
      margin: 0px;
      background: #667db6; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #667db6,
        #0082c8,
        #0082c8,
        #667db6
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #667db6,
        #0082c8,
        #0082c8,
        #667db6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-transform: uppercase;
    }
  }

  h2 {
    font-family: "Kanit", sans-serif;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }

  p {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  a {
    font-family: "Kanit", sans-serif;
    color: var(--blueColor);
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed var(--blueColor);
    border-radius: 2px;
  }
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: var(--blueColor);
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  &:hover {
    color: #fff;
    background-color: var(--blueColor);
    border-color: var(--blueColor);
  }
}

@media only screen and (max-width: 480px) {
  .notfound {
    .notfound-404 {
      position: relative;
      height: 168px;

      h1 {
        font-size: 142px;
      }
    }

    h2 {
      font-size: 22px;
    }
  }
}
//404 Styles

//TOGGLE SWITCH STYLES
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//END TOGGLE SWITCH STYLES

/* LOGIN PAGE STYLES */
div#mainLoginPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 55%;
    #titlePart {
      margin-bottom: 10px;
      color: var(--fontColorLight2);
      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      a {
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: none;
          background: var(--panelsBackgroundLight);
          color: var(--fontColorLight2);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          img {
            width: 20px;
            margin-right: 10px;
            object-fit: cover;
            object-position: top;
            background-color: #ffffff;
          }
          p {
            margin: 0;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 15px;
      }
      div#separatorLine {
        display: flex;
        align-items: center;
        margin-top: 20px;
        hr {
          width: 40%;
        }
      }
    }
    #loginForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 15px;
          border-bottom: 2px solid #ccc;
          transition: all 0.2s;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        #contenedorClaveLogin {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 15px;
          border-bottom: 2px solid #ccc;
          transition: all 0.2s;
          position: relative;
          background: #fff;
          input#passwordLogin {
            position: absolute;
            left: 0;
            padding-right: 45px !important;
            width: 85%;
            border: none;
            padding-right: 0 !important;
            height: 99%;
          }
          i#passwordEye {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 15%;
            padding: 15px;
            height: 100%;
            cursor: pointer;
            color: #555555;
          }
          div#invalidFeed {
            position: absolute !important;
            top: 49px !important;
            left: 0 !important;
          }
        }
        input#passwordLogin:focus {
          #contenedorClaveLogin {
            border: 1px solid var(--blueColor) !important;
            border-bottom: 2px solid var(--blueColor) !important;
          }
        }
      }
      .forgot {
        margin: 20px 0;
        margin-top: 30px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #submitButtonContainer {
        p {
          text-align: center;
          margin-top: 15px;
          a {
            margin-left: 5px;
          }
        }
        button:hover {
          opacity: 0.9;
        }
      }
    }
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #396afc;
    background: -webkit-linear-gradient(to left, #2948ff, #396afc);
    background: linear-gradient(to left, #2948ff, #396afc);
    flex: 45%;
    #imageContainer {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//CLASES PARA LOS ERRORES DE LOGIN PAGE Y REGISTRO
.invalid {
  border-color: #e60000 !important;
  border-bottom-color: #e60000 !important;
}
.invalid-feedback {
  color: #e60000 !important;
}

.alert.alert-danger {
  width: 340px;
  text-align: center;
}
label[id$="-error"] {
  color: #e60000;
  font-size: 80% !important;
}

.valid {
  border-color: #5cb85c !important;
  border-bottom-color: #5cb85c !important;
}
i#checkIconRegister {
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: #5cb85c;
  display: none;
}

//MENSAJE DE ERROR DEL LADO SERVIDOR PERSONALIZADO
.alert.alert-danger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
  }
}

/* END LOGIN PAGE STYLES */

/* REGISTER PAGE STYLES */
#mainRegisterPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    flex: 45%;
    /* background: var(--blueColor);
    clip-path: polygon(100% 0, 0 0, 0 100%); */
    #imageContainer {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 55%;
    flex-direction: column;
    h5 {
      font-weight: normal;
    }
    #registerForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 40px 0 15px;
          border-bottom: 2px solid #ccc;
          transition: all 0.2s;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        input {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            background: red;
          }
        }
        button[type="submit"] {
          margin-top: 15px;
        }
        .custom-select {
          height: 50px;
          border: 1px solid #ccc;
          border-bottom: 2px solid #ccc;
          width: 340px;
          &:focus {
            box-shadow: none !important;
            border: 1px solid var(--blueColor);
            border-bottom: 2px solid var(--blueColor);
          }
        }
      }
      #loginPart {
        display: flex;
        align-items: center;
      }
    }
  }
}
/* END LOGIN PAGE STYLES */

.modal-content {
  text-align: left;
  background: var(--panelsBackgroundLight);
  color: var(--fontColorLight2);
  border: none;
  border-radius: 6px;
  img {
    border-radius: 6px;
  }
}

/* ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
#containerProfile {
  header {
    width: 100%;
    height: 330px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      background-color: #ffffff;
    }
  }
  #main {
    display: flex;
    background-color: transparent;
    width: 80%;
    margin: auto;
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
    }
    #left {
      display: flex;
      flex-direction: column;
      flex: 1;
      background: transparent;
      padding: 10px;
      margin-left: 20px;
      @media (max-width: 768px) {
        padding: 10px;
        margin: 0;
      }
      #carta {
        font-family: "Muli", sans-serif;
        width: 100%;
        background-color: var(--panelsBackgroundLight);
        border-radius: 6px;
        padding-bottom: 10px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        position: relative;
        bottom: 80px;
        @media (max-width: 768px) {
          bottom: 90px;
        }
        #profilePhoto {
          width: 150px;
          height: 150px;
          position: absolute;
          top: -80px;
          left: 50%;
          transform: translateX(-50%);
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #ccc;
            background-color: #ffffff;
          }
        }
        #namePart {
          margin: 80px 0 30px 0;
          text-align: center;
          #verifiedCheck {
            width: 14px;
            height: 14px;
            margin-left: 6px;
          }
          h3 {
            font-size: 25px;
            color: var(--fontColorLight2);
          }
          p {
            margin: 0;
            color: var(--fontColorLight);
            font-size: 17px;
          }
          h6 {
            margin-top: 10px;
            color: var(--fontColorLight2);
          }
        }
        #information {
          margin-left: 20px;
          @media (max-width: 768px) {
            margin-left: 10px;
          }
          .place,
          .joined,
          .birthday,
          #followers {
            display: flex;
            align-items: center;
            margin: 10px;
            color: var(--fontColorLight2);
            i {
              font-size: 17px;
              margin-right: 10px;
            }
            p {
              margin: 0;
              font-size: 15px;
            }
          }
          #followers {
            .following,
            .followers {
              display: flex;
              align-items: center;
              margin-top: 20px;
              p {
                font-weight: lighter;
              }
              h6 {
                margin: 0;
                margin-right: 4px;
                font-size: 16px;
                font-weight: bold;
              }
            }
            .following {
              margin-right: 20px;
            }
          }
        }
      }
      div#containerProfilePhotos {
        width: 100%;
        background: var(--panelsBackgroundLight);
        min-height: 150px;
        max-height: 390px;
        border-radius: 6px;
        padding: 7px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        position: relative;
        bottom: 70px;
        overflow: hidden;
        @media (max-width: 768px) {
          bottom: -60px;
        }
        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          h5 {
            text-decoration: none;
            color: var(--fontColorLight2);
            margin: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .bottom {
          width: 100%;
          border-radius: 4px;
          img {
            width: 100px;
            height: 100px;
            margin: 4px;
            border-radius: 3px;
            object-fit: cover;
            object-position: center;
            cursor: pointer;
          }
        }
      }
    }
    #center {
      background: transparent;
      flex: 2;
      padding: 30px 0;
      position: relative;
      margin-right: 30px;
      @media (max-width: 768px) {
        padding: 10px;
        position: relative;
        bottom: 190px;
        margin-right: 0px;
      }
      #noPostDisplay {
        color: var(--fontColorLight2);
      }
      #top {
        background: var(--panelsBackgroundLight);
        padding: 8px;
        border-radius: 6px;
        position: relative;
        width: 100%;
        bottom: 100px;
        justify-content: space-around;
        align-items: center;
        display: flex;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        @media (max-width: 768px) {
          bottom: 75px;
          flex-direction: column;
        }
        ul#options {
          display: flex;
          align-items: center;
          width: 78%;
          background: transparent;
          padding: 0;
          margin: 0 !important;
          @media (max-width: 768px) {
            font-size: 14px;
            width: 50%;
            flex-direction: column;
          }
          li {
            list-style: none;
            display: flex;
            align-items: center;
            border-radius: 4px;
            @media (max-width: 768px) {
              width: 100%;
            }
            a {
              color: var(--fontColorLight2);
              text-decoration: none;
              border-radius: 4px;
              padding: 15px 25px;
              display: flex;
              align-items: center;
              font-weight: 500;
              @media (max-width: 768px) {
                width: 100%;
                justify-content: center;
              }
            }
            a.active {
              border-bottom: 3px solid var(--blueColor);
              border-radius: 0;
            }
            i {
              font-size: 18px;
              margin: 5px;
            }
            /* h6 {
              margin: 0;
              margin-top: 5px;
            } */
            &:hover {
              background: var(--backgroundLight);
            }
          }
        }
        div#containerFollowButton {
          button.unfollowButton,
          button.followButton {
            padding: 8px 20px;
            border: none;
            border-radius: 6px;
            color: #f5f5f5;
            background: #e60000;
            cursor: pointer;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            outline: 0;
            &:hover {
              opacity: 0.9;
            }
            @media (max-width: 768px) {
              padding: 0;
              width: 90px;
              height: 35px;
              font-size: 13px;
            }
          }
          button.followButton {
            background: var(--blueColor) !important;
          }
        }
      }
      #tablaPrivateUsers {
        position: absolute;
        background: var(--panelsBackgroundLight);
        top: 0;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
        @media (max-width: 768px) {
          top: 250px;
        }
        .tab-pane {
          /* background: var(--panelsBackgroundLight);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
          width: 100%;
          height: 100%;
          border-radius: 6px;
          padding: 10px;
          h3 {
            margin: 0;
            margin-bottom: 20px;
            color: var(--fontColorLight2);
          }
          ul {
            margin: 0;
            padding: 10px;
            color: var(--fontColorLight2);
            li {
              list-style: none;
              display: flex;
              align-items: center;
              margin-top: 10px;
              i {
                margin-right: 10px;
              }
              h5,
              p {
                margin: 0;
                font-size: 16px;
              }
            }
            li.description {
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}
/* FIN ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */

//Estilos alert de warning
.alert.alert-warning.alert-dismissible.fade {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

//Estilos botón close modal
button.close {
  position: absolute;
  right: 10px;
  top: 5px;
  outline: 0;
}

//Test
.animate {
  animation: animation 0.3s;
}

@keyframes animation {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

.popover-body {
  padding: 0;
}

//Estilos página de perfil
#profileContainer {
  margin: auto;
  margin-top: 60px;
  width: 65%;
  height: 350px;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-radius: 6px;
  box-shadow: inset 0px -47px 56px 0px rgba(0, 0, 0, 0.45);
  @media (max-width: 768px) {
    width: 100%;
    margin-top: 0;
  }
  .profilePhoto {
    width: 180px;
    height: 180px;
    position: relative;
    top: 20px;
    @media (max-width: 768px) {
      width: 160px;
      height: 160px;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .cameraIcon {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(-10%, -10%);
      i {
        transition: all 0.1s;
        font-size: 24px;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.2);
      }
      &:hover {
        i {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
    img {
      border-radius: 50%;
      width: 100%;
      border: 3px solid var(--fontColorLight2);
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .changeCoverButton {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    color: #f5f5f5;
    background: rgba(255, 255, 255, 0.3);
    outline: 0;
    @media (max-width: 768px) {
      top: 20px !important;
      right: 20px !important;
      bottom: 82%;
    }
    i {
      font-size: 16px;
      margin-right: 5px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }
}

#informationProfile {
  max-width: 100%;
  min-height: 170px;
  margin: auto;
  background: var(--panelsBackgroundLight);
  .contenedorNombre {
    color: var(--fontColorLight2);
    text-align: center;
    h1 {
      padding: 30px 0 0 0;
      font-size: 38px;
    }
    hr {
      border: none;
      border-top: 1px solid #cccccc;
      width: 65%;
    }
    #menuProfile {
      display: flex;
      justify-content: flex-start;
      margin: auto;
      width: 65%;
      @media (max-width: 768px) {
        flex-direction: column;
        width: 50%;
        padding-bottom: 20px;
        padding-left: 0;
      }
      li {
        list-style: none;
        padding: 6px 18px;
        margin: 5px 10px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: all 0.1s;
        button {
          text-decoration: none;
          text-align: left !important;
          color: var(--fontColorLight2);
          font-size: 16px;
          font-weight: 600;
          border: none;
          background: transparent;
          outline: 0;
        }
        &:hover {
          background-color: var(--backgroundLight);
          border-radius: 5px;
        }
      }
      li.active {
        border-bottom-color: #0a55ec;
        border-radius: 5px 5px 0 0;
        &:hover {
          background: transparent;
        }
        button {
          color: #0a55ec;
        }
      }
      :nth-child(4) {
        background: #3a3b3c;
        border-radius: 5px;
        &:hover {
          opacity: 0.8;
          background: #3a3b3c;
        }
        i {
          margin-right: 5px;
          font-size: 14px;
        }
        button {
          color: #f5f5f5;
          text-align: center;
        }
      }
      :nth-child(4).active {
        background: #3a3b3c;
        border: none;
        color: #f5f5f5 !important;
        border-radius: 5px;
      }
    }

    //Modal con el formulario para editar los datos
    #advert {
      color: red;
      font-style: italic;
    }

    span.input-group-append {
      button {
        i {
          color: var(--fontColorLight2) !important;
        }
      }
    }

    #containerInformation,
    #containerFriends,
    #containerImages {
      background: var(--panelsBackgroundLight);
      width: 65%;
      margin: 15px auto;
      margin-bottom: 75px;
      border-radius: 6px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: none;
      @media (max-width: 768px) {
        width: 100%;
      }
      h5 {
        text-align: left;
        margin-left: 12px;
        padding: 10px 10px 0 10px;
        font-weight: bold;
      }
      #information {
        height: 80vh;
        text-align: left !important;
        ul#infoProfile {
          margin: 12px;
          padding: 10px;
          color: var(--fontColorLight2);
          li {
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 20px;
            i {
              margin-right: 10px;
            }
            h5,
            p {
              margin: 0;
              font-size: 16px;
            }
          }
          li.description {
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
          }
          :nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }
    .activeContainer {
      display: flex !important;
    }

    #containerInformation {
      width: 80%;
      background: none !important;
      @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      #information,
      #postProfile {
        flex: 1;
        background: var(--panelsBackgroundLight);
        border-radius: 7px;
        .top {
          display: flex;
          width: 100%;
          justify-content: space-between;
          button {
            border: none;
            color: var(--backgroundLight);
            background: var(--blueColor);
            border-radius: 4px;
            outline: 0;
            font-size: 16px;
            padding: 6px 18px;
            margin: 10px;
            cursor: pointer;
            i {
              margin-right: 5px;
            }
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      #postProfile {
        margin-left: 15px;
        @media (max-width: 768px) {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }

    #containerImages {
      flex-direction: column;
      #lightgallery {
        padding: 10px;
        width: 100%;
        background: var(--panelsBackgroundLight);
        min-height: 400px;
        max-height: 900px;
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(5, 1fr);
        /*  grid-template-rows: repeat(5, 1fr); */
        a {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
          }
        }

        @media (max-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

#mensajeExito {
  z-index: 999;
}

//Campos de radio página de registro (género)
#genderField {
  .pretty {
    #gender {
      width: 15px !important;
      height: 15px !important;
      position: absolute !important;
    }
    label#gender-error {
      position: absolute;
      top: 25px;
    }
    .state {
      display: flex;
    }
  }
}

//Estilos página recuperar contraseña
.contenedorForm {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  #forgotPasswordForm,
  #formResetPassword {
    margin: auto;
    width: 340px;
    .form-group {
      display: flex;
      flex-direction: column;
      text-align: left;
      position: relative;
      label {
        font-size: 14px;
      }
      p {
        margin-top: 10px;
      }
      input,
      button {
        width: 340px;
        height: 50px;
        outline: 0;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 0 15px;
        border-bottom: 2px solid #ccc;
        transition: all 0.2s;
      }
      button {
        color: var(--panelsBackgroundLight);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        background: #3751e4;
        border: none !important;
        border-radius: 5px;
      }
      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus {
        border: 1px solid var(--blueColor);
        border-bottom: 2px solid var(--blueColor);
      }
    }
  }
}
