@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato|Muli&display=swap");
html {
  --backgroundLight: #f5f5f5;
  --panelsBackgroundLight: #ffffff;
  --fontColorLight: #888888;
  --fontColorLight2: #333333;
  --blueColor: #0a74ec;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  background-color: #464d61;
  background-clip: padding-box;
  border: 2px solid #242d4200;
  border-radius: 30px;
}

html ::-webkit-scrollbar-track {
  background-color: #242d4200;
}

html[data-theme="dark"] {
  --backgroundLight: #18191a;
  --panelsBackgroundLight: #242526;
  --fontColorLight: #f5f5f5;
  --fontColorLight2: #f5f5f5;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 200ms !important;
  transition: all 200ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

body {
  background-color: var(--backgroundLight);
}

/* ESTILOS DEL HEADER NAVIGATION */
nav#menu {
  width: 100%;
  height: 65px;
  background: var(--panelsBackgroundLight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  z-index: 999;
  /* box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px 0px, rgba(0, 0, 0, 0.9) 0px 0px 2px 0px; */
}

@media (max-width: 768px) {
  nav#menu {
    position: fixed;
    bottom: 0;
  }
}

nav#menu #logoContainer,
nav#menu #searchBarContainer,
nav#menu #mainMenu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 768px) {
  nav#menu #logoContainer,
  nav#menu #searchBarContainer {
    display: none !important;
  }
}

nav#menu div#logoContainer {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#menu div#logoContainer a {
  text-decoration: none;
  color: var(--fontColorLight2);
  display: block;
  width: 30%;
  margin-left: 10%;
  text-align: center;
}

nav#menu div#logoContainer a h4 {
  font-size: 28px;
}

nav#menu div#searchBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav#menu div#searchBarContainer #searchBar {
  background: transparent;
  width: 85%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: var(--backgroundLight);
  z-index: 1;
}

nav#menu div#searchBarContainer #searchBar #searchIcon {
  width: 10%;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: var(--fontColorLight);
  padding: 20px;
}

nav#menu div#searchBarContainer #searchBar #searchUser {
  width: 88%;
  height: 100%;
  font-size: 16px;
  border: none;
  outline: 0;
  background: transparent;
  color: var(--fontColorLight);
}

nav#menu div#searchBarContainer #searchBar #searchUser::-webkit-input-placeholder {
  color: var(--fontColorLight);
}

nav#menu div#searchBarContainer #searchBar #searchUser:-ms-input-placeholder {
  color: var(--fontColorLight);
}

nav#menu div#searchBarContainer #searchBar #searchUser::-ms-input-placeholder {
  color: var(--fontColorLight);
}

nav#menu div#searchBarContainer #searchBar #searchUser::placeholder {
  color: var(--fontColorLight);
}

nav#menu div#searchBarContainer #searchBarContainerList {
  position: absolute;
  top: 0;
  width: 90%;
  min-height: 60px;
  max-height: 430px;
  overflow: auto;
  border-radius: 3px;
  background: var(--panelsBackgroundLight);
  z-index: 0;
  margin-top: 2px;
  padding-top: 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
  display: none;
}

nav#menu div#searchBarContainer #searchBarContainerList #emptyContainer {
  border-radius: 3px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

nav#menu div#searchBarContainer #searchBarContainerList #emptyContainer i {
  padding: 10px;
  color: var(--fontColorLight);
  font-size: 14px;
}

nav#menu div#searchBarContainer #searchBarContainerList #emptyContainer p {
  margin: 0;
  color: var(--fontColorLight2);
}

nav#menu div#searchBarContainer #searchBarContainerList #emptyContainer:hover {
  background: var(--backgroundLight);
}

nav#menu div#searchBarContainer #searchBarContainerList.show {
  display: block !important;
}

nav#menu div#mainMenu {
  background: transparent;
}

nav#menu div#mainMenu ul#horizontalMenu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  nav#menu div#mainMenu ul#horizontalMenu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

nav#menu div#mainMenu ul#horizontalMenu li {
  list-style: none;
  color: var(--fontColorLight2);
}

nav#menu div#mainMenu ul#horizontalMenu li a {
  text-decoration: none;
  color: var(--fontColorLight2);
  padding: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav#menu div#mainMenu ul#horizontalMenu li a:hover {
  background: var(--backgroundLight);
}

nav#menu div#mainMenu ul#horizontalMenu li a#profile img {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
}

nav#menu div#mainMenu ul#horizontalMenu li a#profile::after {
  display: none;
}

nav#menu div#mainMenu ul#horizontalMenu li#home {
  display: none;
}

@media (max-width: 768px) {
  nav#menu div#mainMenu ul#horizontalMenu li#home {
    display: block;
  }
}

nav#menu div#mainMenu ul#horizontalMenu li#settings i::after {
  display: none !important;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show {
  width: 230px;
  height: 250px;
  left: -70px !important;
  top: 20px !important;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: var(--panelsBackgroundLight);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px 0px, rgba(0, 0, 0, 0.05) 0px 0px 4px 0px;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show .dropdown-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0;
  padding: 0;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  color: var(--fontColorLight2);
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show .dropdown-item i {
  padding: 15px;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show .dropdown-item h6 {
  margin: 0;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show .dropdown-item:hover {
  background: var(--backgroundLight);
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show a#dropdownProfile {
  padding: 0;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show a#dropdownProfile div.dropdownProfile_interior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid var(--backgroundLight);
  color: var(--fontColorLight2);
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show a#dropdownProfile div.dropdownProfile_interior img {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show a#dropdownProfile div.dropdownProfile_interior small {
  font-size: 12px;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show label#checkDarkThemeContainer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

nav#menu div#mainMenu ul#horizontalMenu li#profileSection div.dropdown-menu.show label#checkDarkThemeContainer .switch {
  margin: 0 0 0 20px;
}

@media (max-width: 768px) {
  nav#menu div#mainMenu ul#horizontalMenu li#profileSection,
  nav#menu div#mainMenu ul#horizontalMenu li#friends {
    display: none !important;
  }
}

/* FIN ESTILOS DEL HEADER NAVIGATION */
.activeLink {
  color: var(--blueColor) !important;
}

main#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

@media (max-width: 768px) {
  main#mainContainer {
    margin: 0px;
  }
}

main#mainContainer #containerWrite {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 10px;
  height: 190px;
}

@media (max-width: 1200px) {
  main#mainContainer #containerWrite {
    margin: 0;
  }
}

main#mainContainer #containerWrite form#formularioPost #top {
  width: 100%;
  background: var(--panelsBackgroundLight);
  height: 55%;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main#mainContainer #containerWrite form#formularioPost #top img {
  margin: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: #ffffff;
}

main#mainContainer #containerWrite form#formularioPost #top textarea {
  width: 90%;
  height: 100%;
  overflow: hidden;
  border: none;
  outline: 0;
  margin: 20px 0;
  resize: none;
  background: transparent;
  color: var(--fontColorLight2);
}

main#mainContainer #containerWrite form#formularioPost #bottom {
  width: 100%;
  background: var(--panelsBackgroundLight);
  padding: 10px 0;
  border-radius: 2px;
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite .iconsWrite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  /*  &:hover h6 {
              color: var(--fontColorLight2);
            } */
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite .iconsWrite:hover {
  background-color: var(--backgroundLight);
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite .iconsWrite i::before {
  font-size: 20px;
  color: var(--fontColorLight);
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite .iconsWrite h6 {
  margin: 0;
  color: var(--fontColorLight);
}

@media (max-width: 768px) {
  main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite .iconsWrite h6 {
    display: none;
  }
}

main#mainContainer #containerWrite form#formularioPost #bottom div#containerIconsWrite label {
  margin: 0;
}

main#mainContainer #containerWrite form#formularioPost #bottom div#publishPostContainer button#addPostButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background: transparent;
  outline: 0;
  margin-right: 20px;
  background-color: #0a52a3;
  color: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main#mainContainer #containerWrite form#formularioPost #bottom div#publishPostContainer button#addPostButton i.flaticon-right-arrow::before {
  font-size: 28px;
  color: var(--blueColor);
}

main#mainContainer aside#leftContainer,
main#mainContainer aside#rightContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 450px;
  background-color: var(--panelsBackgroundLight);
  color: var(--fontColorLight2);
  padding: 20px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
}

div#postList div#postContainer {
  font-size: 2vh;
  background-color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  margin: 0 0 10px 0 !important;
  padding: 0;
}

div#postList div#postContainer div#infoUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
}

div#postList div#postContainer div#infoUser a#linkProfilePerson {
  color: var(--fontColorLight2);
  margin: 0;
}

div#postList div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#postList div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: #ffffff;
}

div#postList div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost h5 {
  margin: 0 15px !important;
}

div#postList div#postContainer div#infoUser a#linkProfilePerson div#userInfoPost h5 img {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}

div#postList div#postContainer div#infoUser div#containerDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--fontColorLight2);
}

div#postList div#postContainer div#infoUser div#containerDate a#popoverOptions {
  outline: 0;
  cursor: pointer;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

div#postList div#postContainer div#infoUser div#containerDate a#popoverOptions:hover {
  background-color: var(--backgroundLight);
}

div#postList div#postContainer #parrafoTexto {
  padding: 0 20px;
}

div#postList div#postContainer #parrafoTexto p {
  color: var(--fontColorLight2);
}

div#postList div#postContainer #postImageContainer {
  cursor: pointer;
}

div#postList div#postContainer #postImageContainer img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

div#postList div#postContainer div#shareIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon {
  margin: 10px 0;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon button,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon a,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon button,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon a,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon button,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background: transparent;
  outline: 0;
  border-radius: 6px;
  width: 100px;
  color: var(--fontColorLight2);
  padding: 10px 0;
  cursor: pointer;
  text-decoration: none;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon button:hover,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon a:hover,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon button:hover,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon a:hover,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon button:hover,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon a:hover {
  background-color: var(--backgroundLight);
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon button i,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon a i,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon button i,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon a i,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon button i,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon a i {
  margin-right: 5px;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon button #iconLikeRed::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon a #iconLikeRed::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon button #iconLikeRed::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon a #iconLikeRed::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon button #iconLikeRed::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon a #iconLikeRed::before {
  color: #f95572;
  /* #E0245E */
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon #commentButton:hover span,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon #commentButton:hover span,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon #commentButton:hover span {
  color: #1da1f2;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon #commentButton:hover i::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon #commentButton:hover i::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon #commentButton:hover i::before {
  color: #1da1f2;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon #shareButton:hover span,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon #shareButton:hover span,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon #shareButton:hover span {
  color: #17bf63;
}

div#postList div#postContainer div#shareIcons #shareIconsContainer div#likeIcon #shareButton:hover i::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#commentIcon #shareButton:hover i::before,
div#postList div#postContainer div#shareIcons #shareIconsContainer div#shareIcon #shareButton:hover i::before {
  color: #17bf63;
}

div#postList div#postContainer div#shareIcons #likesCount span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#postList div#postContainer div#shareIcons #likesCount span:hover {
  text-decoration: underline;
  cursor: pointer;
}

div#postList div#postContainer div#shareIcons #likesCount span i {
  margin-right: 5px;
}

div#postList div#postContainer div#shareIcons #likesCount span h6 {
  margin: 0;
  color: var(--fontColorLight2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;
}

.notfound .notfound-404 {
  position: relative;
  height: 220px;
}

.notfound .notfound-404 h1 {
  font-family: "Kanit", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 186px;
  font-weight: 200;
  margin: 0px;
  background: #667db6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#667db6), color-stop(#0082c8), color-stop(#0082c8), to(#667db6));
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
}

.notfound h2 {
  font-family: "Kanit", sans-serif;
  font-size: 33px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

.notfound p {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom: 25px;
}

.notfound a {
  font-family: "Kanit", sans-serif;
  color: var(--blueColor);
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px dashed var(--blueColor);
  border-radius: 2px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: var(--blueColor);
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-social > a:hover {
  color: #fff;
  background-color: var(--blueColor);
  border-color: var(--blueColor);
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    position: relative;
    height: 168px;
  }
  .notfound .notfound-404 h1 {
    font-size: 142px;
  }
  .notfound h2 {
    font-size: 22px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--blueColor);
          box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* LOGIN PAGE STYLES */
div#mainLoginPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

div#mainLoginPage #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
}

div#mainLoginPage #left #titlePart {
  margin-bottom: 10px;
  color: var(--fontColorLight2);
}

div#mainLoginPage #left #titlePart h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

div#mainLoginPage #left #titlePart a button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: none;
  background: var(--panelsBackgroundLight);
  color: var(--fontColorLight2);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#mainLoginPage #left #titlePart a button img {
  width: 20px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: #ffffff;
}

div#mainLoginPage #left #titlePart a button p {
  margin: 0;
}

div#mainLoginPage #left #titlePart a:hover {
  text-decoration: none;
}

div#mainLoginPage #left #titlePart p {
  font-size: 15px;
  margin-bottom: 15px;
}

div#mainLoginPage #left #titlePart div#separatorLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

div#mainLoginPage #left #titlePart div#separatorLine hr {
  width: 40%;
}

div#mainLoginPage #left #loginForm .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

div#mainLoginPage #left #loginForm .form-group label {
  font-size: 14px;
}

div#mainLoginPage #left #loginForm .form-group input,
div#mainLoginPage #left #loginForm .form-group button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 15px;
  border-bottom: 2px solid #ccc;
}

div#mainLoginPage #left #loginForm .form-group button {
  color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #3751e4;
  border: none !important;
  border-radius: 5px;
}

div#mainLoginPage #left #loginForm .form-group input[type="text"]:focus,
div#mainLoginPage #left #loginForm .form-group input[type="password"]:focus {
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

div#mainLoginPage #left #loginForm .form-group input#passwordLogin {
  padding-right: 45px !important;
}

div#mainLoginPage #left #loginForm .form-group i#passwordEye {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  color: var(--fontColorLight2);
}

div#mainLoginPage #left #loginForm .forgot {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#mainLoginPage #left #loginForm #submitButtonContainer p {
  text-align: center;
  margin-top: 15px;
}

div#mainLoginPage #left #loginForm #submitButtonContainer p a {
  margin-left: 5px;
}

div#mainLoginPage #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #396afc;
  background: -webkit-gradient(linear, right top, left top, from(#2948ff), to(#396afc));
  background: linear-gradient(to left, #2948ff, #396afc);
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
}

div#mainLoginPage #right #imageContainer {
  width: 100%;
  height: 100%;
}

div#mainLoginPage #right #imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.invalid {
  border-color: #e60000 !important;
  border-bottom-color: #e60000 !important;
}

.invalid-feedback {
  color: #e60000 !important;
}

.alert.alert-danger {
  width: 340px;
  text-align: center;
}

label[id$="-error"] {
  color: #e60000;
  font-size: 80% !important;
}

.valid {
  border-color: #5cb85c !important;
  border-bottom-color: #5cb85c !important;
}

i#checkIconRegister {
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: #5cb85c;
  display: none;
}

.alert.alert-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alert.alert-danger i {
  cursor: pointer;
}

/* END LOGIN PAGE STYLES */
/* REGISTER PAGE STYLES */
#mainRegisterPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

#mainRegisterPage #left {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  /* background: var(--blueColor);
    clip-path: polygon(100% 0, 0 0, 0 100%); */
}

#mainRegisterPage #left #imageContainer {
  height: 100%;
}

#mainRegisterPage #left #imageContainer img {
  width: 100%;
  height: 100%;
}

#mainRegisterPage #right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 55%;
      -ms-flex: 55%;
          flex: 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#mainRegisterPage #right #registerForm .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#mainRegisterPage #right #registerForm .form-group label {
  font-size: 14px;
}

#mainRegisterPage #right #registerForm .form-group input,
#mainRegisterPage #right #registerForm .form-group button {
  width: 340px;
  height: 50px;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 40px 0 15px;
  border-bottom: 2px solid #ccc;
}

#mainRegisterPage #right #registerForm .form-group button {
  color: var(--panelsBackgroundLight);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #3751e4;
  border: none !important;
  border-radius: 5px;
}

#mainRegisterPage #right #registerForm .form-group input[type="text"]:focus,
#mainRegisterPage #right #registerForm .form-group input[type="email"]:focus,
#mainRegisterPage #right #registerForm .form-group input[type="password"]:focus {
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

#mainRegisterPage #right #registerForm .form-group .custom-select {
  height: 50px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  width: 340px;
}

#mainRegisterPage #right #registerForm .form-group .custom-select:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid var(--blueColor);
  border-bottom: 2px solid var(--blueColor);
}

#mainRegisterPage #right #registerForm #loginPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* END LOGIN PAGE STYLES */
/* Estilos preloader de la página */
div#preloaderPage {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--panelsBackgroundLight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot {
  background: var(--fontColorLight2);
  color: var(--panelsBackgroundLight);
}

.dot, .dot:after {
  display: inline-block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-animation: a 1.5s calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *1.5s) infinite;
          animation: a 1.5s calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *1.5s) infinite;
}

.dot:after {
  --o: 1;
  background: currentcolor;
  content: "";
}

@-webkit-keyframes a {
  0%,
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes a {
  0%,
  50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/* Estilos preloader de la página */
/* ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
#containerProfile header {
  width: 100%;
  height: 350px;
}

#containerProfile header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  background-color: #ffffff;
}

#containerProfile #main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

@media (max-width: 768px) {
  #containerProfile #main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#containerProfile #main #left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: transparent;
  padding: 30px;
  max-height: 600px;
}

@media (max-width: 768px) {
  #containerProfile #main #left {
    padding: 0;
  }
}

#containerProfile #main #left #carta {
  font-family: "Muli", sans-serif;
  width: 100%;
  background-color: var(--panelsBackgroundLight);
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 100px;
}

#containerProfile #main #left #carta #profilePhoto {
  width: 150px;
  height: 150px;
  margin: 30px auto 40px auto;
}

#containerProfile #main #left #carta #profilePhoto img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

#containerProfile #main #left #carta #namePart {
  margin: 0 0 25px 30px;
}

@media (max-width: 768px) {
  #containerProfile #main #left #carta #namePart {
    margin: 0 0 25px 20px;
  }
}

#containerProfile #main #left #carta #namePart #verifiedCheck {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

#containerProfile #main #left #carta #namePart h3 {
  font-size: 25px;
  color: var(--fontColorLight2);
}

#containerProfile #main #left #carta #namePart p {
  margin: 0;
  color: var(--fontColorLight);
  font-size: 17px;
}

#containerProfile #main #left #carta #namePart h6 {
  margin-top: 10px;
  color: var(--fontColorLight2);
}

#containerProfile #main #left #carta #information {
  margin-left: 20px;
}

@media (max-width: 768px) {
  #containerProfile #main #left #carta #information {
    margin-left: 10px;
  }
}

#containerProfile #main #left #carta #information .place,
#containerProfile #main #left #carta #information .joined,
#containerProfile #main #left #carta #information .birthday,
#containerProfile #main #left #carta #information #followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  color: var(--fontColorLight2);
}

#containerProfile #main #left #carta #information .place i,
#containerProfile #main #left #carta #information .joined i,
#containerProfile #main #left #carta #information .birthday i,
#containerProfile #main #left #carta #information #followers i {
  font-size: 17px;
  margin-right: 10px;
}

#containerProfile #main #left #carta #information .place p,
#containerProfile #main #left #carta #information .joined p,
#containerProfile #main #left #carta #information .birthday p,
#containerProfile #main #left #carta #information #followers p {
  margin: 0;
  font-size: 15px;
}

#containerProfile #main #left #carta #information #followers .following,
#containerProfile #main #left #carta #information #followers .followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

#containerProfile #main #left #carta #information #followers .following p,
#containerProfile #main #left #carta #information #followers .followers p {
  font-weight: lighter;
}

#containerProfile #main #left #carta #information #followers .following h6,
#containerProfile #main #left #carta #information #followers .followers h6 {
  margin: 0;
  margin-right: 4px;
  font-size: 16px;
  font-weight: bold;
}

#containerProfile #main #left #carta #information #followers .following {
  margin-right: 20px;
}

#containerProfile #main #center {
  background: transparent;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 30px 0;
}

@media (max-width: 768px) {
  #containerProfile #main #center {
    padding: 10px;
    position: relative;
    bottom: 190px;
  }
}

#containerProfile #main #center #noPostDisplay {
  color: var(--fontColorLight2);
}

#containerProfile #main #right {
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 620px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#containerProfile #main #right .card {
  padding: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* FIN ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
.alert.alert-warning.alert-dismissible.fade {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

button.close {
  position: absolute;
  right: 10px;
  top: 5px;
  outline: 0;
}

.animate {
  -webkit-animation: animation 0.3s;
          animation: animation 0.3s;
}

@-webkit-keyframes animation {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes animation {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */