@import url("https://fonts.googleapis.com/css?family=Lato|Muli&display=swap");

html {
  //Light colors
  --backgroundLight: #f5f5f5;
  --panelsBackgroundLight: #ffffff;
  --fontColorLight: #888888;
  --fontColorLight2: #333333;
  --blueColor: #0a74ec;

  //Barra lateral derecha
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #464d61;
    background-clip: padding-box;
    border: 2px solid #242d4200;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    background-color: #242d4200;
  }
}

html[data-theme="dark"] {
  //Dark colors
  --backgroundLight: #18191a;
  --panelsBackgroundLight: #242526;
  --fontColorLight: #f5f5f5;
  --fontColorLight2: #f5f5f5;
}

//Para la transición al cambiar al tema oscuro
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0 !important;
}

body {
  background-color: var(--backgroundLight);
}

.icono {
  color: var(--fontColorLight2);
  &::before {
    color: var(--fontColorLight2);
  }
}

//HEADER
.navbar-expand-lg {
  background-color: var(--panelsBackgroundLight);
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 0.8rem 1rem;
  .navbar-collapse {
    @media (min-width: 992px) {
      flex-basis: 100% !important;
    }
  }
  a#navbarToggle {
    padding: 10px 0;
    i.icono::before {
      font-size: 20px;
      margin: 0;
      color: var(--fontColorLight2);
    }
  }
  #logoContainer {
    h4 {
      color: var(--fontColorLight2);
    }
  }
  #searcherMobileOpen {
    display: none;
    @media (max-width: 800px) {
      display: inline-block;
    }
    i::before {
      color: var(--fontColorLight2);
    }
  }
}

.imagen {
  width: 70%;
}
/* .icono {
  font-size: 30px;
} */
.profilePhoto {
  width: 55px;
  height: auto;
}

div#hiddenNavbar {
  justify-content: space-between;
  ul.navbar-nav {
    justify-content: space-evenly;
    margin: 0 20px;
    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 992px) {
      margin: 0;
    }
    li {
      a.nav-link {
        font-size: 17px;
        display: flex;
        align-items: center;
        color: var(--fontColorLight2);
        font-family: "Lato", sans-serif;
        /*  font-weight: bold; */
        i {
          &::before {
            @media (min-width: 992px) {
              display: none;
            }
          }
        }
      }
    }
  }
  #headerPhoto {
    a {
      text-decoration: none;
      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
    }
    div {
      i {
        width: 30px;
        display: flex;
        height: 30px;
        background: var(--backgroundLight);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        padding: 24px;
        cursor: pointer;
        transition: all 0.1s;
        &::before {
          font-size: 20px;
          cursor: pointer;
          color: var(--fontColorLight2);
        }
        &::after {
          display: none;
        }
        &:hover {
          background-color: #d8d7d7;
        }
      }
      #optionsMenu {
        width: 300px;
        margin-top: 15px;
        padding: 2px;
        border: 1px solid #cccc !important;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
        background: #cccc;
        border-radius: 3px;
        @media (max-width: 992px) {
          width: 375px;
          left: -60px;
        }
        #viewProfile {
          color: var(--fontColorLight2);
          display: flex;
          align-items: center;
          padding: 20px;
          h6 {
            margin: 0;
          }
        }
        #containerDropdown {
          display: flex;
          align-items: center;
          padding: 20px;
          border-top: 1px solid #cccc;
          cursor: pointer;
          i {
            margin-right: 10px;
            &::before {
              margin: 0;
              font-size: 18px;
              color: var(--fontColorLight2);
            }
          }
          h6 {
            margin: 0;
            color: var(--fontColorLight2);
          }
          label {
            margin: 0;
          }
        }
        label#checkDarkThemeContainer {
          width: 100%;
          margin: 0;
          border-top: 1px solid #cccc;
          #containerDropdown {
            justify-content: space-between;
            h6 {
              margin-right: 40px !important;
            }
          }
        }
        .dropdown-item {
          background-color: var(--panelsBackgroundLight);
          &:active {
            background-color: var(--backgroundLight);
            color: var(--fontColorLight2);
          }
        }
      }
    }
  }
}

//Clase para el icono de la página sobre el que estás
.activeLink {
  color: var(--blueColor) !important;
}

//Buscador usuarios header
div#searcher {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
  position: relative;
  left: 0;
  margin: 0 !important;
  background: #ffffff;
  transition: all 0.2s;
  @media (max-width: 800px) {
    position: absolute;
    right: 0;
    transform: translateY(-80px);
    margin: 0 auto !important;
    width: 97%;
  }
  i.flaticon-magnifying-glass {
    &::before {
      margin: 0;
      margin-right: 10px;
      font-size: 17px;
    }
  }
  i.fa-times-circle {
    &::before {
      font-size: 30px;
      margin: 0;
      margin-left: 10px;
      color: #b32b2b;
    }
  }
  input#searchUser {
    border: none;
    outline: 0;
    font-size: 17px;
    color: #333333;
    background: #ffffff;
    width: 100%;
    &::placeholder {
      color: #333333;
    }
  }
  #dropdownSearchUsers {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    margin-top: 10px;
    background-color: var(--panelsBackgroundLight);
    color: var(--fontColorLight2);
    #preloaderAjax {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    div#listaUsuarios {
      display: block;
      position: absolute;
      width: 100%;
      margin-top: 15px;
      padding: 0;
      border: none;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      min-height: 50px;
      max-height: 350px;
      overflow: scroll;
      overflow-x: hidden;
      #preloaderAjax {
        background: #ffffff;
        width: 100%;
        z-index: 99;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      @media (max-width: 992px) {
        width: 100%;
        max-height: 600px !important;
      }
      a.dropdown-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--panelsBackgroundLight);
        color: var(--fontColorLight2);
        padding: 10px;
        border-top: 1px solid #ccc;
        &:hover {
          background-color: var(--backgroundLight);
        }
        #dropImage {
          width: 55px;
          height: 55px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid #ccc;
          }
        }
        #dropName {
          margin-left: 15px;
          h6 {
            font-weight: bold;
            margin: 0;
          }
          #verifiedCheck {
            width: 15px;
            height: 15px;
            margin-left: 6px;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

//Clase especifica que se aplica al buscador de usuarios al presionar el botón de buscar de fuera
.openSearcherClass {
  transform: translateY(0) !important;
}

li.nav-item {
  .nav-link {
    i {
      &::before {
        margin: 0;
      }
    }
  }
}

//MAIN PART
main#mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  @media (max-width: 768px) {
    margin: 5px;
  }
  #containerWrite {
    flex: 2;
    margin: 0 10px;
    height: 190px;
    @media (max-width: 1200px) {
      margin: 0;
    }
    /* @media (max-width: 768px) {
      margin: 0;
    } */
    #top {
      width: 100%;
      background: var(--panelsBackgroundLight);
      height: 55%;
      border-radius: 2px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      textarea {
        width: 100%;
        height: auto;
        overflow: hidden;
        border: none;
        outline: 0;
        padding: 15px 35px 15px 35px;
        resize: none;
        background: transparent;
        color: var(--fontColorLight2);
      }
    }
    #bottom {
      width: 100%;
      background: var(--panelsBackgroundLight);
      height: 45%;
      border-radius: 2px;
      margin-top: 3px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      div#containerIconsWrite {
        display: flex;
        flex-basis: 60%;
        align-items: center;
        margin-left: 10px;
        .iconsWrite {
          display: flex;
          align-items: center;
          padding: 10px 16px;
          border-radius: 6px;
          &:hover {
            background-color: var(--backgroundLight);
          }
          cursor: pointer;
          i {
            &::before {
              font-size: 20px;
              color: var(--fontColorLight);
            }
          }
          h6 {
            margin: 0;
            color: var(--fontColorLight);
            @media (max-width: 768px) {
              display: none;
            }
          }
          /*  &:hover h6 {
            color: var(--fontColorLight2);
          } */
        }
        label {
          margin: 0;
        }
      }
      div#publishPostContainer {
        button#addPostButton {
          display: flex;
          justify-content: center;
          width: 120px;
          height: 40px;
          border-radius: 20px;
          border: none;
          background: transparent;
          outline: 0;
          margin-right: 20px;
          background-color: #0a74ec;
          color: #ffffff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          i.flaticon-right-arrow {
            &::before {
              font-size: 28px;
              color: var(--blueColor);
            }
          }
        }
      }
    }
  }
  aside#leftContainer,
  aside#rightContainer {
    flex: 1;
    height: 450px;
    background-color: var(--panelsBackgroundLight);
    color: var(--fontColorLight2);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

//Container con todos los posts para mostrar
div#postList {
  div#postContainer {
    font-size: 2vh;
    background-color: var(--panelsBackgroundLight);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    margin: 0 0 10px 0 !important;
    padding: 0;
    div#infoUser {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      #userData {
      }
      a#linkProfilePerson {
        color: var(--fontColorLight2);
        margin: 0;
        div#userInfoPost {
          display: flex;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
          h5 {
            margin: 0 15px !important;
          }
        }
      }
      div#containerDate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: var(--fontColorLight2);
        a#popoverOptions {
          outline: 0;
          cursor: pointer;
          margin-bottom: 10px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          border-radius: 50%;
          transition: all 0.2s ease;
          &:hover {
            background-color: var(--backgroundLight);
          }
        }
      }
    }
    #parrafoTexto {
      padding: 0 20px;
      p {
        color: var(--fontColorLight2);
      }
    }
    #postImageContainer {
      cursor: pointer;
    }
    div#shareIcons {
      display: flex;
      width: 30%;
      margin-left: 20px;
      align-items: center;
      div#likeIcon,
      div#commentIcon,
      div#shareIcon {
        display: flex;
        align-items: center;
        font-weight: bolder;
        color: var(--fontColorLight2);
        i {
          cursor: pointer;
          font-size: 18px;
          width: 30px;
          height: 30px;
          line-height: 20px;
          border-radius: 50%;
          padding: 6px;
          transition: all 0.2s;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 16px 3px 16px 16px;
        }
        i.icono::before {
          width: 30px;
          height: 30px;
          padding: 6px;
          border-radius: 50%;
        }
        div#likeIcon:hover {
          i.far.fa-heart.icono::before {
            background: rgba(224, 36, 94, 0.1);
            color: rgb(224, 36, 94);
          }
        }
        i.far.fa-comment.icono:hover {
          &::before {
            background: rgba(29, 161, 242, 0.1);
            color: rgb(29, 161, 242);
          }
        }
        i.fa-external-link-alt.icono:hover {
          &::before {
            background: rgba(23, 191, 99, 0.1);
            color: rgb(23, 191, 99);
          }
        }
      }
    }
  }
}

//MAIN PART END

//404 Styles
#notfound {
  position: relative;
  height: 100vh;

  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;

  .notfound-404 {
    position: relative;
    height: 220px;

    h1 {
      font-family: "Kanit", sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 186px;
      font-weight: 200;
      margin: 0px;
      background: linear-gradient(130deg, #ffa34f, #ff6f68);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-transform: uppercase;
    }
  }

  h2 {
    font-family: "Kanit", sans-serif;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }

  p {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  a {
    font-family: "Kanit", sans-serif;
    color: #ff6f68;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed #ff6f68;
    border-radius: 2px;
  }
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #ff6f68;
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  &:hover {
    color: #fff;
    background-color: #ff6f68;
    border-color: #ff6f68;
  }
}

@media only screen and (max-width: 480px) {
  .notfound {
    .notfound-404 {
      position: relative;
      height: 168px;

      h1 {
        font-size: 142px;
      }
    }

    h2 {
      font-size: 22px;
    }
  }
}
//404 Styles

//TOGGLE SWITCH STYLES
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//END TOGGLE SWITCH STYLES

/* LOGIN PAGE STYLES */
div#mainLoginPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 55%;
    #titlePart {
      margin-bottom: 10px;
      color: var(--fontColorLight2);
      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      a {
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: none;
          background: var(--panelsBackgroundLight);
          color: var(--fontColorLight2);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          img {
            width: 20px;
            margin-right: 10px;
            object-fit: cover;
          }
          p {
            margin: 0;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 15px;
      }
      div#separatorLine {
        display: flex;
        align-items: center;
        margin-top: 20px;
        hr {
          width: 40%;
        }
      }
    }
    #loginForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 15px;
          border-bottom: 2px solid #ccc;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        input#passwordLogin {
          padding-right: 45px !important;
        }
        i#passwordEye {
          position: absolute;
          right: 15px;
          bottom: 15px;
          cursor: pointer;
          color: var(--fontColorLight2);
        }
      }
      .forgot {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #submitButtonContainer {
        p {
          text-align: center;
          margin-top: 15px;
          a {
            margin-left: 5px;
          }
        }
      }
    }
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #396afc;
    background: -webkit-linear-gradient(to left, #2948ff, #396afc);
    background: linear-gradient(to left, #2948ff, #396afc);
    flex: 45%;
    #imageContainer {
      width: 50%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

//CLASES PARA LOS ERRORES DE LOGIN PAGE Y REGISTRO
.invalid {
  border-color: #e60000 !important;
  border-bottom-color: #e60000 !important;
}
.invalid-feedback {
  color: #e60000 !important;
}

.alert.alert-danger {
  width: 340px;
  text-align: center;
}
label[id$="-error"] {
  color: #e60000;
  font-size: 80% !important;
}

.valid {
  border-color: #5cb85c !important;
  border-bottom-color: #5cb85c !important;
}

//MENSAJE DE ERROR DEL LADO SERVIDOR PERSONALIZADO
.alert.alert-danger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
  }
}

/* END LOGIN PAGE STYLES */

/* REGISTER PAGE STYLES */
#mainRegisterPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    flex: 45%;
    background: var(--blueColor);
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 55%;
    flex-direction: column;
    #registerForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 15px;
          border-bottom: 2px solid #ccc;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        .custom-select {
          height: 50px;
          border: 1px solid #ccc;
          border-bottom: 2px solid #ccc;
          width: 340px;
          &:focus {
            box-shadow: none !important;
            border: 1px solid var(--blueColor);
            border-bottom: 2px solid var(--blueColor);
          }
        }
      }
      #loginPart {
        display: flex;
        align-items: center;
      }
    }
  }
}
/* END LOGIN PAGE STYLES */

/* Estilos preloader de la página */
div#preloaderPage {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--panelsBackgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

$d: 2em;
$t: 1.5s;

.dot {
  background: var(--fontColorLight2);
  color: var(--panelsBackgroundLight);
  &,
  &:after {
    display: inline-block;
    width: $d;
    height: $d;
    border-radius: 50%;
    animation: a $t calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *#{$t}) infinite;
  }

  &:after {
    --o: 1;
    background: currentcolor;
    content: "";
  }
}

@keyframes a {
  0%,
  50% {
    transform: scale(0);
  }
}

/* Estilos preloader de la página */

/* ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
#containerProfile {
  header {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }
  #main {
    display: flex;
    background-color: transparent;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    #left {
      display: flex;
      justify-content: center;
      flex: 1;
      background: transparent;
      padding: 30px;
      max-height: 600px;
      @media (max-width: 768px) {
        padding: 0;
      }
      #carta {
        font-family: "Muli", sans-serif;
        width: 100%;
        background-color: var(--panelsBackgroundLight);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        position: relative;
        bottom: 200px;
        #profilePhoto {
          width: 150px;
          height: 150px;
          margin: 30px auto 40px auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #ccc;
          }
        }
        #namePart {
          margin: 0 0 25px 30px;
          @media (max-width: 768px) {
            margin: 0 0 25px 20px;
          }
          #verifiedCheck {
            width: 20px;
            height: 20px;
            margin-left: 6px;
          }
          h3 {
            font-size: 25px;
            color: var(--fontColorLight2);
          }
          p {
            margin: 0;
            color: var(--fontColorLight);
            font-size: 17px;
          }
          h6 {
            margin-top: 10px;
            color: var(--fontColorLight2);
          }
        }
        #information {
          margin-left: 20px;
          @media (max-width: 768px) {
            margin-left: 10px;
          }
          .place,
          .joined,
          .birthday,
          #followers {
            display: flex;
            align-items: center;
            margin: 10px;
            color: var(--fontColorLight2);
            i {
              font-size: 17px;
              margin-right: 10px;
            }
            p {
              margin: 0;
              font-size: 15px;
            }
          }
          #followers {
            .following,
            .followers {
              display: flex;
              align-items: center;
              margin-top: 20px;
              p {
                font-weight: lighter;
              }
              h6 {
                margin: 0;
                margin-right: 4px;
                font-size: 16px;
                font-weight: bold;
              }
            }
            .following {
              margin-right: 20px;
            }
          }
        }
      }
    }
    #center {
      background: transparent;
      flex: 2;
      padding: 30px 0;
      @media (max-width: 768px) {
        padding: 10px;
        position: relative;
        bottom: 190px;
      }
      #noPostDisplay {
        color: var(--fontColorLight2);
      }
    }
    #right {
      background: transparent;
      flex: 1;
      max-height: 620px;
      padding: 30px;
      display: flex;
      justify-content: center;
      .card {
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
/* FIN ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
