@import url("https://fonts.googleapis.com/css?family=Lato|Muli&display=swap");

html {
  //Light colors
  --backgroundLight: #f5f5f5;
  --panelsBackgroundLight: #ffffff;
  --fontColorLight: #888888;
  --fontColorLight2: #333333;
  --blueColor: #0a74ec;

  //Barra lateral derecha
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #464d61;
    background-clip: padding-box;
    border: 2px solid #242d4200;
    border-radius: 30px;
  }
  ::-webkit-scrollbar-track {
    background-color: #242d4200;
  }
}

html[data-theme="dark"] {
  //Dark colors
  --backgroundLight: #18191a;
  --panelsBackgroundLight: #242526;
  --fontColorLight: #f5f5f5;
  --fontColorLight2: #f5f5f5;
}

//Para la transición al cambiar al tema oscuro
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 200ms !important;
  transition-delay: 0 !important;
}

body {
  background-color: var(--backgroundLight);
}

/* ESTILOS DEL HEADER NAVIGATION */

nav#menu {
  width: 100%;
  height: 65px;
  background: var(--panelsBackgroundLight);
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  @media (max-width: 768px) {
    position: fixed;
    bottom: 0;
  }
  #logoContainer,
  #searchBarContainer,
  #mainMenu {
    flex-grow: 1;
  }

  #logoContainer,
  #searchBarContainer {
    @media (max-width: 768px) {
      display: none !important;
    }
  }

  //Page logo
  div#logoContainer {
    background: transparent;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: var(--fontColorLight2);
      display: block;
      width: 30%;
      margin-left: 10%;
      text-align: center;
      h4 {
        font-size: 28px;
      }
    }
  }

  //Search bar
  div#searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    #searchBar {
      background: transparent;
      width: 85%;
      height: 60%;
      display: flex;
      transition: all 0.2s;
      align-items: center;
      border-radius: 30px;
      background: var(--backgroundLight);
      #searchIcon {
        width: 10%;
        height: 100%;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: var(--fontColorLight);
        padding: 20px;
      }
      #searchUser {
        width: 85%;
        height: 100%;
        font-size: 16px;
        border: none;
        outline: 0;
        background: transparent;
        color: var(--fontColorLight);
        &::placeholder {
          color: var(--fontColorLight);
        }
      }
    }
  }

  //Main menu with options
  div#mainMenu {
    background: transparent;
    ul#horizontalMenu {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      @media (max-width: 768px) {
        justify-content: space-around;
      }
      li {
        list-style: none;
        color: var(--fontColorLight2);
        a {
          text-decoration: none;
          color: var(--fontColorLight2);
          padding: 20px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          transition: all 0.2s;
          &:hover {
            background: var(--backgroundLight);
          }
        }
        a#profile {
          img {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
          }
          &::after {
            display: none;
          }
        }
      }
      li#home {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
      li#settings {
        i {
          &::after {
            display: none !important;
          }
        }
      }
      li#profileSection {
        div.dropdown-menu.show {
          width: 230px;
          height: 250px;
          left: -70px !important;
          top: 20px !important;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          background: var(--panelsBackgroundLight);
          .dropdown-item {
            align-items: center;
            width: 100%;
            flex: 1;
            border-radius: 0;
            padding: 0;
            justify-content: flex-start !important;
            color: var(--fontColorLight2);
            i {
              padding: 15px;
            }
            h6 {
              margin: 0;
            }
            &:hover {
              background: var(--backgroundLight);
            }
          }
          a#dropdownProfile {
            padding: 0;
            div.dropdownProfile_interior {
              display: flex;
              width: 100%;
              height: 100%;
              padding: 10px;
              justify-content: space-around;
              border-bottom: 1px solid var(--backgroundLight);
              color: var(--fontColorLight2);
              img {
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
              }
              small {
                font-size: 12px;
              }
            }
          }
          label#checkDarkThemeContainer {
            margin: 0;
            display: flex;
            cursor: pointer;
            .switch {
              margin: 0 0 0 20px;
            }
          }
        }
      }
      li#profileSection,
      li#friends {
        @media (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }
}

/* FIN ESTILOS DEL HEADER NAVIGATION */

//Clase para el icono de la página sobre el que estás
.activeLink {
  color: var(--blueColor) !important;
}

//Clase para cuando el foco está en el input search
.activeSearch {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

//MAIN PART
main#mainContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  @media (max-width: 768px) {
    margin: 0px;
  }
  #containerWrite {
    flex: 2;
    margin: 0 10px;
    height: 190px;
    @media (max-width: 1200px) {
      margin: 0;
    }
    form#formularioPost {
      #top {
        width: 100%;
        background: var(--panelsBackgroundLight);
        height: 55%;
        border-radius: 2px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        display: flex;
        align-items: flex-start;
        img {
          margin: 15px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
          background-color: #ffffff;
        }
        textarea {
          width: 90%;
          height: 100%;
          overflow: hidden;
          border: none;
          outline: 0;
          margin: 20px 0;
          resize: none;
          background: transparent;
          color: var(--fontColorLight2);
        }
      }
      #bottom {
        width: 100%;
        background: var(--panelsBackgroundLight);
        padding: 10px 0;
        border-radius: 2px;
        margin-top: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        div#containerIconsWrite {
          display: flex;
          flex-basis: 60%;
          align-items: center;
          margin-left: 10px;
          .iconsWrite {
            display: flex;
            align-items: center;
            padding: 10px 16px;
            border-radius: 6px;
            &:hover {
              background-color: var(--backgroundLight);
            }
            cursor: pointer;
            i {
              &::before {
                font-size: 20px;
                color: var(--fontColorLight);
              }
            }
            h6 {
              margin: 0;
              color: var(--fontColorLight);
              @media (max-width: 768px) {
                display: none;
              }
            }
            /*  &:hover h6 {
              color: var(--fontColorLight2);
            } */
          }
          label {
            margin: 0;
          }
        }
        div#publishPostContainer {
          button#addPostButton {
            display: flex;
            justify-content: center;
            width: 120px;
            height: 40px;
            border-radius: 20px;
            border: none;
            background: transparent;
            outline: 0;
            margin-right: 20px;
            background-color: #0a52a3;
            color: #ffffff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            i.flaticon-right-arrow {
              &::before {
                font-size: 28px;
                color: var(--blueColor);
              }
            }
          }
        }
      }
    }
  }
  aside#leftContainer,
  aside#rightContainer {
    flex: 1;
    height: 450px;
    background-color: var(--panelsBackgroundLight);
    color: var(--fontColorLight2);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
  }
}

//Container con todos los posts para mostrar
div#postList {
  div#postContainer {
    font-size: 2vh;
    background-color: var(--panelsBackgroundLight);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    margin: 0 0 10px 0 !important;
    padding: 0;
    div#infoUser {
      display: flex;
      justify-content: space-between;
      padding: 8px 20px;
      #userData {
      }
      a#linkProfilePerson {
        color: var(--fontColorLight2);
        margin: 0;
        div#userInfoPost {
          display: flex;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            background-color: #ffffff;
          }
          h5 {
            margin: 0 15px !important;
            img {
              width: 20px;
              height: 20px;
              margin-left: 3px;
            }
          }
        }
      }
      div#containerDate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        color: var(--fontColorLight2);
        a#popoverOptions {
          outline: 0;
          cursor: pointer;
          margin-bottom: 10px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          border-radius: 50%;
          transition: all 0.2s ease;
          &:hover {
            background-color: var(--backgroundLight);
          }
        }
      }
    }
    #parrafoTexto {
      padding: 0 20px;
      p {
        color: var(--fontColorLight2);
      }
    }
    #postImageContainer {
      cursor: pointer;
      img {
        height: 350px;
        object-fit: cover;
        object-position: top;
      }
    }
    div#shareIcons {
      display: flex;
      margin: 0 20px;
      align-items: center;
      justify-content: space-between;
      #shareIconsContainer {
        display: flex;
        div#likeIcon,
        div#commentIcon,
        div#shareIcon {
          margin: 10px 0;
          button,
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: transparent;
            outline: 0;
            border-radius: 6px;
            width: 100px;
            color: var(--fontColorLight2);
            padding: 10px 0;
            cursor: pointer;
            text-decoration: none;
            &:hover {
              background-color: var(--backgroundLight);
            }
            i {
              margin-right: 5px;
            }
            #iconLikeRed {
              &::before {
                color: #f95572;
                /* #E0245E */
              }
            }
          }
          #commentButton:hover {
            span {
              color: rgb(29, 161, 242);
            }
            i {
              &::before {
                color: rgb(29, 161, 242);
              }
            }
          }
          #shareButton:hover {
            span {
              color: rgb(23, 191, 99);
            }
            i {
              &::before {
                color: rgb(23, 191, 99);
              }
            }
          }
        }
      }
      #likesCount {
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
          i {
            margin-right: 5px;
          }
          h6 {
            margin: 0;
            color: var(--fontColorLight2);
            display: flex;
          }
        }
      }
    }
  }
}

//MAIN PART END

//404 Styles
#notfound {
  position: relative;
  height: 100vh;

  .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.notfound {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding: 15px;

  .notfound-404 {
    position: relative;
    height: 220px;

    h1 {
      font-family: "Kanit", sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 186px;
      font-weight: 200;
      margin: 0px;
      background: #667db6; /* fallback for old browsers */
      background: -webkit-linear-gradient(
        to right,
        #667db6,
        #0082c8,
        #0082c8,
        #667db6
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #667db6,
        #0082c8,
        #0082c8,
        #667db6
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      text-transform: uppercase;
    }
  }

  h2 {
    font-family: "Kanit", sans-serif;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
  }

  p {
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  a {
    font-family: "Kanit", sans-serif;
    color: var(--blueColor);
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed var(--blueColor);
    border-radius: 2px;
  }
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: var(--blueColor);
  border: 1px solid #efefef;
  border-radius: 50%;
  margin: 3px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;

  &:hover {
    color: #fff;
    background-color: var(--blueColor);
    border-color: var(--blueColor);
  }
}

@media only screen and (max-width: 480px) {
  .notfound {
    .notfound-404 {
      position: relative;
      height: 168px;

      h1 {
        font-size: 142px;
      }
    }

    h2 {
      font-size: 22px;
    }
  }
}
//404 Styles

//TOGGLE SWITCH STYLES
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blueColor);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blueColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
//END TOGGLE SWITCH STYLES

/* LOGIN PAGE STYLES */
div#mainLoginPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 55%;
    #titlePart {
      margin-bottom: 10px;
      color: var(--fontColorLight2);
      h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
      }
      a {
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: none;
          background: var(--panelsBackgroundLight);
          color: var(--fontColorLight2);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          img {
            width: 20px;
            margin-right: 10px;
            object-fit: cover;
            object-position: top;
            background-color: #ffffff;
          }
          p {
            margin: 0;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
      p {
        font-size: 15px;
        margin-bottom: 15px;
      }
      div#separatorLine {
        display: flex;
        align-items: center;
        margin-top: 20px;
        hr {
          width: 40%;
        }
      }
    }
    #loginForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 15px;
          border-bottom: 2px solid #ccc;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        input#passwordLogin {
          padding-right: 45px !important;
        }
        i#passwordEye {
          position: absolute;
          right: 15px;
          bottom: 15px;
          cursor: pointer;
          color: var(--fontColorLight2);
        }
      }
      .forgot {
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      #submitButtonContainer {
        p {
          text-align: center;
          margin-top: 15px;
          a {
            margin-left: 5px;
          }
        }
      }
    }
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #396afc;
    background: -webkit-linear-gradient(to left, #2948ff, #396afc);
    background: linear-gradient(to left, #2948ff, #396afc);
    flex: 45%;
    #imageContainer {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//CLASES PARA LOS ERRORES DE LOGIN PAGE Y REGISTRO
.invalid {
  border-color: #e60000 !important;
  border-bottom-color: #e60000 !important;
}
.invalid-feedback {
  color: #e60000 !important;
}

.alert.alert-danger {
  width: 340px;
  text-align: center;
}
label[id$="-error"] {
  color: #e60000;
  font-size: 80% !important;
}

.valid {
  border-color: #5cb85c !important;
  border-bottom-color: #5cb85c !important;
}
i#checkIconRegister {
  position: absolute;
  bottom: 18px;
  right: 12px;
  color: #5cb85c;
  display: none;
}

//MENSAJE DE ERROR DEL LADO SERVIDOR PERSONALIZADO
.alert.alert-danger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    cursor: pointer;
  }
}

/* END LOGIN PAGE STYLES */

/* REGISTER PAGE STYLES */
#mainRegisterPage {
  display: flex;
  width: 100%;
  min-height: 100vh;
  #left {
    flex: 45%;
    /* background: var(--blueColor);
    clip-path: polygon(100% 0, 0 0, 0 100%); */
    #imageContainer {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  #right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 55%;
    flex-direction: column;
    #registerForm {
      .form-group {
        display: flex;
        flex-direction: column;
        position: relative;
        label {
          font-size: 14px;
        }
        input,
        button {
          width: 340px;
          height: 50px;
          outline: 0;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 0 40px 0 15px;
          border-bottom: 2px solid #ccc;
        }
        button {
          color: var(--panelsBackgroundLight);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          background: #3751e4;
          border: none !important;
          border-radius: 5px;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
          border: 1px solid var(--blueColor);
          border-bottom: 2px solid var(--blueColor);
        }
        .custom-select {
          height: 50px;
          border: 1px solid #ccc;
          border-bottom: 2px solid #ccc;
          width: 340px;
          &:focus {
            box-shadow: none !important;
            border: 1px solid var(--blueColor);
            border-bottom: 2px solid var(--blueColor);
          }
        }
      }
      #loginPart {
        display: flex;
        align-items: center;
      }
    }
  }
}
/* END LOGIN PAGE STYLES */

/* Estilos preloader de la página */
div#preloaderPage {
  position: fixed;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: var(--panelsBackgroundLight);
  display: flex;
  justify-content: center;
  align-items: center;
}

$d: 2em;
$t: 1.5s;

.dot {
  background: var(--fontColorLight2);
  color: var(--panelsBackgroundLight);
  &,
  &:after {
    display: inline-block;
    width: $d;
    height: $d;
    border-radius: 50%;
    animation: a $t calc(((var(--i) + var(--o, 0)) / var(--n) - 1) *#{$t}) infinite;
  }

  &:after {
    --o: 1;
    background: currentcolor;
    content: "";
  }
}

@keyframes a {
  0%,
  50% {
    transform: scale(0);
  }
}

/* Estilos preloader de la página */

/* ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */
#containerProfile {
  header {
    width: 100%;
    height: 350px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
      background-color: #ffffff;
    }
  }
  #main {
    display: flex;
    background-color: transparent;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    #left {
      display: flex;
      justify-content: center;
      flex: 1;
      background: transparent;
      padding: 30px;
      max-height: 600px;
      @media (max-width: 768px) {
        padding: 0;
      }
      #carta {
        font-family: "Muli", sans-serif;
        width: 100%;
        background-color: var(--panelsBackgroundLight);
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        position: relative;
        bottom: 100px;
        #profilePhoto {
          width: 150px;
          height: 150px;
          margin: 30px auto 40px auto;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            border: 1px solid #ccc;
            background-color: #ffffff;
          }
        }
        #namePart {
          margin: 0 0 25px 30px;
          @media (max-width: 768px) {
            margin: 0 0 25px 20px;
          }
          #verifiedCheck {
            width: 20px;
            height: 20px;
            margin-left: 6px;
          }
          h3 {
            font-size: 25px;
            color: var(--fontColorLight2);
          }
          p {
            margin: 0;
            color: var(--fontColorLight);
            font-size: 17px;
          }
          h6 {
            margin-top: 10px;
            color: var(--fontColorLight2);
          }
        }
        #information {
          margin-left: 20px;
          @media (max-width: 768px) {
            margin-left: 10px;
          }
          .place,
          .joined,
          .birthday,
          #followers {
            display: flex;
            align-items: center;
            margin: 10px;
            color: var(--fontColorLight2);
            i {
              font-size: 17px;
              margin-right: 10px;
            }
            p {
              margin: 0;
              font-size: 15px;
            }
          }
          #followers {
            .following,
            .followers {
              display: flex;
              align-items: center;
              margin-top: 20px;
              p {
                font-weight: lighter;
              }
              h6 {
                margin: 0;
                margin-right: 4px;
                font-size: 16px;
                font-weight: bold;
              }
            }
            .following {
              margin-right: 20px;
            }
          }
        }
      }
    }
    #center {
      background: transparent;
      flex: 2;
      padding: 30px 0;
      @media (max-width: 768px) {
        padding: 10px;
        position: relative;
        bottom: 190px;
      }
      #noPostDisplay {
        color: var(--fontColorLight2);
      }
    }
    #right {
      background: transparent;
      flex: 1;
      max-height: 620px;
      padding: 30px;
      display: flex;
      justify-content: center;
      .card {
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }
}
/* FIN ESTILOS DE LA PÁGINA DE PERFIL DE USUARIO */

//Estilos alert de warning
.alert.alert-warning.alert-dismissible.fade {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

//Estilos botón close modal
button.close {
  position: absolute;
  right: 10px;
  top: 5px;
  outline: 0;
}

//Test
.animate {
  animation: animation 0.3s;
}

@keyframes animation {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}
